apiVersion: icp4a.ibm.com/v1
kind: ICP4ACluster
metadata: 
 # annotations:
  #  argocd.argoproj.io/sync-wave: "15"
  labels: 
    app.kubernetes.io/instance: ibm-dba
    app.kubernetes.io/managed-by: ibm-dba
    app.kubernetes.io/name: ibm-dba
    release: "21.0.3"
  name: icp4adeploy
spec: 
  appVersion: "21.0.3"
  bai_configuration: ~
  datasource_configuration: 
    dc_gcd_datasource: 
      database_name: GCDDB
      database_port: "{{ .Values.cp4ba.db_port }}"
      database_servername: {{ .Values.cp4ba.db_server }}
     # database_ssl_secret_name: <Required>
      dc_common_gcd_datasource_name: FNGCDDS
      dc_common_gcd_xa_datasource_name: FNGCDDSXA
      dc_database_type: {{ .Values.cp4ba.db_type }}
      dc_hadr_max_retries_for_client_reroute: 3
      dc_hadr_retry_interval_for_client_reroute: 15
     # dc_hadr_standby_port: <Required>
      #dc_hadr_standby_servername: <Required>
      dc_hadr_validation_timeout: 15
     # dc_oracle_gcd_jdbc_url: <Required>
    dc_icn_datasource: 
      database_name: ICNDB
      database_port: "{{ .Values.cp4ba.db_port }}"
      database_servername: {{ .Values.cp4ba.db_server }}
     # database_ssl_secret_name: <Required>
      dc_common_icn_datasource_name: ECMClientDS
      dc_database_type: {{ .Values.cp4ba.db_type }}
      dc_hadr_max_retries_for_client_reroute: 3
      dc_hadr_retry_interval_for_client_reroute: 15
     # dc_hadr_standby_port: <Required>
    #  dc_hadr_standby_servername: <Required>
      #dc_hadr_validation_timeout: 15
     # dc_oracle_icn_jdbc_url: <Required>
    dc_os_datasources: 
        database_name: OS1DB
        database_port: "{{ .Values.cp4ba.db_port }}"
        database_servername: {{ .Values.cp4ba.db_server }}
        #database_ssl_secret_name: <Required>
        dc_common_os_datasource_name: FNOS1DS
        dc_common_os_xa_datasource_name: FNOS1DSXA
        dc_database_type: {{ .Values.cp4ba.db_type }}
        dc_hadr_max_retries_for_client_reroute: 3
        dc_hadr_retry_interval_for_client_reroute: 15
        #dc_hadr_standby_port: <Required>
       # dc_hadr_standby_servername: <Required>
        dc_hadr_validation_timeout: 15
        #dc_oracle_os_jdbc_url: <Required>
        dc_os_label: os
    dc_ssl_enabled: true
  #ext_ldap_configuration: 
   # lc_bind_secret: ldap-bind-secret
   # lc_ldap_base_dn: "o=ibm,c=us"
   # lc_ldap_group_base_dn: "ou=Groups,o=ibm,c=us"
   # lc_ldap_group_display_name_attr: cn
   # lc_ldap_group_member_id_map: "groupofnames:member"
   # lc_ldap_group_membership_search_filter: (|(&(objectclass=groupofnames)(member={0}))(&(objectclass=groupofuniquenames)(uniquemember={0})))
   # lc_ldap_group_name_attribute: "*:cn"
   # lc_ldap_port: "389"
   # lc_ldap_server: {{ .Values.cp4ba.db_server }}
   # lc_ldap_ssl_enabled: false
   # lc_ldap_ssl_secret_name: <Required>
   # lc_ldap_user_display_name_attr: uid
   # lc_ldap_user_name_attribute: "*:uid"
   # lc_selected_ldap_type: "IBM Security Directory Server"

  ibm_license: accept
  initialize_configuration: 
    ic_ldap_creation: 
      ic_ldap_admin_user_name: 
        - cpadmin
      ic_ldap_admins_groups_name: 
        - cpadmins
    ic_obj_store_creation: 
      object_stores: 
        - 
          oc_cpe_obj_store_admin_user_groups: 
            - cn
          oc_cpe_obj_store_conn: 
            dc_os_datasource_name: FNOS1DS
            dc_os_xa_datasource_name: FNOS1DSXA
          oc_cpe_obj_store_display_name: OS01
          oc_cpe_obj_store_symb_name: OS01
  ldap_configuration: 
    lc_bind_secret: ldap-bind-secret
    lc_ldap_base_dn: "o=ibm,c=us"
    lc_ldap_group_base_dn: "ou=Groups,o=ibm,c=us"
    lc_ldap_group_display_name_attr: cn
    lc_ldap_group_member_id_map: "groupofnames:member"
    lc_ldap_group_membership_search_filter: (|(&(objectclass=groupofnames)(member={0}))(&(objectclass=groupofuniquenames)(uniquemember={0})))
    lc_ldap_group_name_attribute: "*:cn"
    lc_ldap_port: "389"
    lc_ldap_server: {{ .Values.cp4ba.db_server }}
    lc_ldap_ssl_enabled: true
    #lc_ldap_ssl_secret_name: <Required>
    lc_ldap_user_display_name_attr: uid
    lc_ldap_user_name_attribute: "*:uid"
    lc_selected_ldap_type: "IBM Security Directory Server"
    tds: 
      lc_group_filter: (&(cn=%v)(|(objectclass=groupofnames)(objectclass=groupofuniquenames)(objectclass=groupofurls)))
      lc_user_filter: (&(cn=%v)(objectclass=person))
  shared_configuration: 
    image_pull_secrets: 
      - admin.registrykey
    root_ca_secret: icp4a-root-ca
    sc_content_initialization: false
    sc_content_verification: false
    sc_cpe_limited_storage: false
    sc_deployment_baw_license: non-production
    sc_deployment_context: CP4A
    sc_deployment_fncm_license: non-production
    sc_deployment_license: non-production
    sc_deployment_patterns: "foundation,content"
    sc_deployment_platform: ROKS
    sc_deployment_profile_size: small
    sc_deployment_type: Production
    sc_image_repository: cp.icr.io
    sc_ingress_enable: false
   # sc_ingress_tls_secret_name: <Required>
    sc_optional_components: "bai,cmis,css,es,iccsap,ier,tm"
    sc_run_as_user: ~
    storage_configuration: 
      sc_block_storage_classname: {{ .Values.cp4ba.storageclass_block}}
      sc_fast_file_storage_classname: {{ .Values.cp4ba.storageclass_fast}}
      sc_medium_file_storage_classname: {{ .Values.cp4ba.storageclass_medium}}
      sc_slow_file_storage_classname: {{ .Values.cp4ba.storageclass_slow}}
    trusted_certificate_list: []
